{
  "extends": "stylelint-config-standard",
  "rules": {
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "font-smoothing"
        ]
      }
    ],
    "declaration-empty-line-before": "never"
  }
}